body {
  background-color: white;
  
}

.black-border-box {
  /* box-sizing: content-box; */
  border: 5px solid black;
  margin: 10px 2.5vw;
  width: 95vw;
  height: 210px;
}

#purple-box {
  background-color: #7F3BB9;
  width: 5vw;
  height: 130px;
  float:left;
  margin: 45px 30px 0 15px;
}

#green-box {
  background-color: #249B4B;
  width: 35vw;
  height: 165px;
  float: left;
  margin: 10px 2.5vw 0 2.5vw;
}

#blue-circle {
  background-color: #66CFED;
  width: 165px;
  height: 165px;
  border-radius: 82.5px;
  float:left;
  margin: 10px 15px 0 30px;
}

.dotted-border-box {
  /* box-sizing: content-box; */
  border: 5px dotted black;
  margin: 10px 2.5vw;
  width: 95vw;
  height: 33vh;
}

#tan-box {
  background-color: #F0F4C6;
  width: 85vw;
  height: 19vh;
  margin: 50px auto;
  box-shadow: gray;
  box-shadow: 7px 7px 5px;
}

.hello-box {
  border: 2px solid lightgray;
  width: 55vw;
  height: 35vh;
  margin: 25px auto;
  box-shadow: 3px 3px 2px lightgray;

}

#hello-text {
  font-size: 1.5em;
  letter-spacing: 0.3em;
  margin: 140px 22vw;
}